root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.{php, html}]
indent_size = 4
insert_final_newline = false


[Vagrantfile]
syntax = ruby

[*.md]
trim_trailing_whitespace = false
